.navbar {
    content: "";
    display: flex;
    overflow: hidden;
    clear: both;
    width: calc(100% - 20px);
    min-height: calc(10% - 20px);
    border-color: #762bf0;
    background-color:#373737;
    margin: 10px;
}

.rating {
    content: "";
    display: flex;
    clear: both;
    width: 35%;
    height: 3%;
    border-radius: 5px;
    background-color: #9f5af8;
    margin: 10px;
}

.rating .icon {
    margin: 5px;
}

.vote-count {
    float: right;
    color:#eeeeee;
    font-size: large;
    text-align:right;
    padding-right: 5px;
    margin-top: 20px;
}

.rating-data{
    float: right;
    color:#eeeeee;
    font-size: xx-large;
    margin: 8px 5px 5px 5px;
    padding-right: 5px;
}

.description {
    font-size: larger;
    color: whitesmoke;
    margin: 10px;
    background-color: #121212;
    padding: 5px;
    border-radius: 3px;
    min-height: 10%;

}

.info-header{
    background-color: #575757;
    border-radius: 3px;
    margin: 5px;
    color: whitesmoke;
    text-align: center;
}

/* Add your CSS styles for the modal here */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    animation-name: slideUp;
    animation-duration: 0.3s;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}



.modal-content {
    background-color:#121212;
    position: absolute;
    color:#c3b1e0;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    height: 80%;
    border-radius: 5px;
    top: 5%;
    left:20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.loading-icon{
    display: inline-block;
}

.not-found{
    width: 100%;
    text-align: center;
    font-size: xx-large;
    color:#c3b1e0;
}

.modal form {
    text-align: center;
}

.modal label {
    font-weight: bold;
}

.modal textarea, .modal input {
    width: 100%;
    color: white;
    background-color: #9f5af8;
}

.system-messages {
    background-color: #575757;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(60% - 20px);
}

.player-buttons {
    content: "";
    display: table;
    clear: both;
    width: calc(100% - 20px);
    height: calc(5% - 20px);
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    background-color:#121212;
}

.player {
    width: 100%;
    aspect-ratio: 16/9;
}

.series-selector {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    margin: 10px;
    background-color:#575757;
    border-radius: 10px;
}

.system-messages h1{
    font-family: 'Arial', sans-serif;
    color:#9f5af8;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    width: calc(100% - 20px);
    height: calc(10% - 20px);
    margin: 10px;
}

.message-item {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

.slide-in {
    opacity: 1;
}

.slide-out {
    opacity: 0;
}

.system-message-data-container {
    position: relative;
    border-radius: 10px;
    min-width: calc(100%-20px);
    height: calc(75% - 20px);
    margin: 10px;
    background-color: #c3b1e0;
    overflow: hidden;
}

.system-message-navbar {
    width: calc(100% -20px);
    height: calc(15% - 20px);
    background-color: #282828;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.system-messages-nav-button {
    border-radius: 50%;
    margin: 5px;
    border: none;
    color: #9f5af8;
    background-color: #9f5af8;
}

.system-messages-nav-button.active {
    color:#4907b4;
    background-color: #4907b4;
}


.media-type{
    font-family: 'Arial', sans-serif;
    color:#9f5af8;
    letter-spacing: 2px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.back-img {
    height: 40%;
    width: 100%;
    mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
   -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

.overlay-text {
    position: absolute; /* Position the text relative to the container */
    top: 75%; /* Adjust vertical position as needed */
    left: 0%; /* Adjust horizontal position as needed */
    transform: translate(0%, -20%); /* Center the text within the container */
    color: white; /* Text color */
    padding: 10px; /* Add padding to the text for better readability */
    font-size: 50px; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
  }

  .bottom-bar p{
    margin: 10px;
    font-size: x-large;
  }

.bottom-bar {
    content: "";
    display: table;
    clear: both;
    width: calc(100% - 20px);
    height: calc(10% - 20px);
    background-color:#373737;
    color: whitesmoke;
    margin: 10px;
}

.items {
    content: "";
    display: table;
    clear: both;
    width: calc(100% - 20px);
    height: 100%;
    border-color: #762bf0;
    background-color:#373737;
    margin: 10px;
    
}

.item-list {
    float: right;
    background-color: #282828;
    margin: 10px;
    width: calc(25% - 20px);
    min-height: calc(100% - 20px);
    border-radius: 5px;
}

.cards {
    float: left;
    background-color: #282828;
    margin: 10px;
    width: calc(75% - 20px);
    height: calc(100% - 20px);
    border-radius: 5px;
    display: block;
    text-align: center;
}

.row {
    height: 25%;
    width: 100%;
    
}

select {
    width: calc(50% - 20px); 
    height: calc(100% - 20px);
    margin: 10px;
    font-size: 16px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:#762bf0;
    cursor: pointer;
  }
  
  /* Style the dropdown arrow icon (if not removed) */
  select::after {
    content: '\25BC'; /* Unicode arrow-down character */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none; /* Ensure the arrow doesn't interfere with clicks */
  }
  
  /* Style the option elements within the select */
  select option {
    background-color: #fff;
    color: #333;
    font-size: 16px;
  }
  
  /* Style the select when it's focused */
  select:focus {
    outline: none;
    border-color: #007bff; /* Change the border color on focus */
  }
  .card {
    float: left;
    width: calc(25% - 20px);
    aspect-ratio: 2/3;
    background-color: #4907b4;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    color: #ffffff;
    transition: background-color 1.3s ease, transform 0.7s ease;
}


.card:hover {
    background-color: #9f5af8;
    cursor:pointer;
    transform: scale(1.02);

}

.card:active{
    cursor: wait;
}


.data {
    margin: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    max-height: 20%;
    max-width: 80%;
    overflow: hidden;
}

.poster {
    width: 80%; /* 80% of parent's width */
    height: 70%; /* 70% of parent's height */
    max-width: 100%; /* Ensure the image doesn't exceed the parent's width */
    max-height: 100%; /* Ensure the image doesn't exceed the parent's height */
    position: absolute; /* Position the image within the parent */
    top: 60%; /* Center vertically by moving it 50% down from the top */
    left: 50%; /* Center horizontally by moving it 50% from the left */
    transform: translate(-50%, -50%); /* Center the image precisely */
    border-radius: 5px;
}

.navitem {
    float: left;
    margin: 10px;
}

.search-conatiner {
    float: right;
    background-color: #282828;
    margin: 10px 10px 10px 10px;
    width: calc(27% - 20px);
    height: calc(100% - 20px);
    border-radius: 5px;
    margin: 10px;
    display: flex;
}

.search-bar {
    padding: 10px;
    color:#282828;
    background-color: #c3b1e0;
    margin: 10px 10px 10px 5px;
    width: calc(76% - 10px);
    min-height: calc(100%);
    border-radius: 10px;
    border-color: #282828;
    border-width: 0px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.search-button, .modal button[type="submit"]{
    color:#eeeeee;
    cursor: pointer;
    overflow: hidden;
    background-color: #4907b4;
    width: calc(33% - 10px);
    min-height: calc(100% - 20px);
    margin: 10px 5px 10px 10px;
    border-radius: 10px;
    border-color: #282828;
    border-width: 0px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: transform 0.7s ease, color 0.7s ease, background-color 0.7s ease;
}

.search-button:hover, .modal button[type="submit"]:hover {
    transform: scale(1.01);
    font-size: 104%;
    background-color: #eeeeee;
    color:#4907b4;
}



.player-container{
    width: 98%;
    height: 35%;
    margin: 10px;
    background: url('https://blog.stackfindover.com/wp-content/uploads/2021/09/Rocket-Loading-Screen.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.switch-type {
    color:#eeeeee;
    background-color: #4907b4;
    width: 150px;
    height: 45px;
    margin: 10px;
    border-radius: 10px;
    border-color: #282828;
    border-width: 0px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: transform 0.7s ease, color 0.7s ease, background-color 0.7s ease;
}

.switch-type:hover {
    transform: scale(1.01);
    cursor: pointer;
    font-size: 104%;
    background-color: #eeeeee;
    color:#4907b4;
}


.search-button:active {
    transform: scale(0.95);
    cursor: wait;
}

.list-button {
    color:#eeeeee;
    align-items: center;
    justify-content: left;
    display:flex;
    overflow: hidden;
    cursor: pointer;
    background-color: #4907b4;
    width: calc(100% - 20px);
    margin: 10px;
    border-radius: 10px;
    border-color: #282828;
    border-width: 0px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.7s ease;
}

.list-button:hover {
transform: scale(1.01);
font-size: 21px;
background-color: #eeeeee;
color:#4907b4;
}

.list-button:active {
transform: scale(0.95);
cursor: wait;
}

.navbutton {
    color:#eeeeee;
    cursor: pointer;
    overflow: hidden;
    background-color: #4907b4;
    width: calc(12.5% - 20px);
    min-height: calc(100% - 30px);
    float: left;
    margin: 15px 10px;
    border-radius: 10px;
    border-color: #282828;
    border-width: 0px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.7s ease;
}

.navbutton:hover {
    transform: scale(1.01);
    font-size: 104%;
    background-color: #eeeeee;
    color:#4907b4;
}

.navbutton:active {
    transform: scale(0.95);
    cursor: wait;
}

.icon {
    width: calc(5% - 20px);
    height: calc(100% - 20px);
    float: left;
    margin: 10px;
    cursor: pointer;
}

.button-icon{
    width: calc(15% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
}

.navtitle {
    font-family: 'Arial', sans-serif;
    color: #762bf0;
    text-transform: uppercase;
    letter-spacing: 3px;
    height: 100%;
    margin: 10px;
    font-size: 50px;
    overflow: hidden;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.title-container {
    display: flex;
    float: left;
    width: calc(40%);
    padding: 0px 5% 0px 5%;
    height: calc(100%);
    text-align: center;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #121212;
    height: 100%;
    width: calc(100% - 20px);
}

.image-container {
    position: relative; /* Required for positioning the text relative to the container */
    display: inline-block; /* Maintain the image's size */
  }